LAB 1/LAB1.png
LAB 1/LAB1_0.DBK
LAB 1/LAB1-PSpiceFiles/AC/AC.als
LAB 1/LAB1-PSpiceFiles/AC/AC.net
LAB 1/LAB1-PSpiceFiles/AC/AC.sim
LAB 1/LAB1-PSpiceFiles/AC/AC_sch.prp
LAB 1/LAB1-PSpiceFiles/AC/Transient.sim
LAB 1/LAB1-PSpiceFiles/AC/AC/AC.1OP
LAB 1/LAB1-PSpiceFiles/AC/AC/AC.cir
LAB 1/LAB1-PSpiceFiles/AC/AC/AC.dat
LAB 1/LAB1-PSpiceFiles/AC/AC/AC.json
LAB 1/LAB1-PSpiceFiles/AC/AC/AC.mrk
LAB 1/LAB1-PSpiceFiles/AC/AC/AC.out
LAB 1/LAB1-PSpiceFiles/AC/AC/AC.prb
LAB 1/LAB1-PSpiceFiles/AC/Transient/Transient.1OP
LAB 1/LAB1-PSpiceFiles/AC/Transient/Transient.cir
LAB 1/LAB1-PSpiceFiles/AC/Transient/Transient.dat
LAB 1/LAB1-PSpiceFiles/AC/Transient/Transient.mrk
LAB 1/LAB1-PSpiceFiles/AC/Transient/Transient.out
LAB 1/LAB1-PSpiceFiles/AC/Transient/Transient.prb
LAB 1/LAB1-PSpiceFiles/AC/Transient/Vin Vout avg.dat
LAB 1/LAB1-PSpiceFiles/AC/Transient/Vin Vout.dat
LAB 1/LAB1-PSpiceFiles/SCHEMATIC1/SCHEMATIC1.als
LAB 1/LAB1-PSpiceFiles/SCHEMATIC1/SCHEMATIC1.net
LAB 1/LAB1-PSpiceFiles/SCHEMATIC1/SCHEMATIC1_sch.prp
LAB 1/LAB1-PSpiceFiles/SCHEMATIC1/Transient/Transient.1OP
LAB 1/LAB1-PSpiceFiles/SCHEMATIC1/Transient/Transient.cir
LAB 1/LAB1-PSpiceFiles/SCHEMATIC1/Transient/Transient.dat
LAB 1/LAB1-PSpiceFiles/SCHEMATIC1/Transient/Transient.out
LAB 1/LAB1-PSpiceFiles/SCHEMATIC1/Transient/Transient.prb
LAB 1/LAB1-PSpiceFiles/SCHEMATIC1/Transient/Vin Vout avg.dat
LAB 1/LAB1-PSpiceFiles/SCHEMATIC1/Transient/Vin Vout.dat
LAB 1/LAB1-PSpiceFiles/SCHEMATIC2/SCHEMATIC2.als
LAB 1/LAB1-PSpiceFiles/SCHEMATIC2/SCHEMATIC2.net
LAB 1/LAB1-PSpiceFiles/SCHEMATIC2/SCHEMATIC2_sch.prp
LAB 1/LAB1-PSpiceFiles/SCHEMATIC2/AC/AC.1OP
LAB 1/LAB1-PSpiceFiles/SCHEMATIC2/AC/AC.cir
LAB 1/LAB1-PSpiceFiles/SCHEMATIC2/AC/AC.dat
LAB 1/LAB1-PSpiceFiles/SCHEMATIC2/AC/AC.out
LAB 1/LAB1-PSpiceFiles/SCHEMATIC2/AC/AC.out.1
LAB 1/LAB1-PSpiceFiles/SCHEMATIC2/AC/AC.prb
LAB 1/LAB1-PSpiceFiles/SCHEMATIC2/AC3/AC3.1OP
LAB 1/LAB1-PSpiceFiles/SCHEMATIC2/AC3/AC3.cir
LAB 1/LAB1-PSpiceFiles/SCHEMATIC2/AC3/AC3.dat
LAB 1/LAB1-PSpiceFiles/SCHEMATIC2/AC3/AC3.out
LAB 1/LAB1-PSpiceFiles/SCHEMATIC2/AC3/AC3.prb
LAB 1/LAB1-PSpiceFiles/Transient/AC.sim
LAB 1/LAB1-PSpiceFiles/Transient/AC3.sim
LAB 1/LAB1-PSpiceFiles/Transient/Transient.als
LAB 1/LAB1-PSpiceFiles/Transient/Transient.net
LAB 1/LAB1-PSpiceFiles/Transient/Transient_sch.prp
LAB 1/LAB1-PSpiceFiles/Transient/AC/AC.1OP
LAB 1/LAB1-PSpiceFiles/Transient/AC/AC.cir
LAB 1/LAB1-PSpiceFiles/Transient/AC/AC.dat
LAB 1/LAB1-PSpiceFiles/Transient/AC/AC.mrk
LAB 1/LAB1-PSpiceFiles/Transient/AC/AC.out
LAB 1/LAB1-PSpiceFiles/Transient/AC/AC.out.1
LAB 1/LAB1-PSpiceFiles/Transient/AC/AC.prb
LAB 1/LAB1-PSpiceFiles/Transient/AC3/AC3.1OP
LAB 1/LAB1-PSpiceFiles/Transient/AC3/AC3.cir
LAB 1/LAB1-PSpiceFiles/Transient/AC3/AC3.dat
LAB 1/LAB1-PSpiceFiles/Transient/AC3/AC3.mrk
LAB 1/LAB1-PSpiceFiles/Transient/AC3/AC3.out
LAB 1/LAB1-PSpiceFiles/Transient/AC3/AC3.prb
LAB 1/LAB1-PSpiceFiles/Trasnient/AC.sim
LAB 1/LAB1-PSpiceFiles/Trasnient/default.mrk
LAB 1/LAB1-PSpiceFiles/Trasnient/Trasnient.als
LAB 1/LAB1-PSpiceFiles/Trasnient/Trasnient.net
LAB 1/LAB1-PSpiceFiles/Trasnient/Trasnient.sim
LAB 1/LAB1-PSpiceFiles/Trasnient/Trasnient_sch.prp
LAB 1/LAB1-PSpiceFiles/Trasnient/AC/AC.1OP
LAB 1/LAB1-PSpiceFiles/Trasnient/AC/AC.cir
LAB 1/LAB1-PSpiceFiles/Trasnient/AC/AC.mrk
LAB 1/LAB1-PSpiceFiles/Trasnient/AC/AC.out
LAB 1/LAB1-PSpiceFiles/Trasnient/Trasnient/Trasnient.1OP
LAB 1/LAB1-PSpiceFiles/Trasnient/Trasnient/Trasnient.cir
LAB 1/LAB1-PSpiceFiles/Trasnient/Trasnient/Trasnient.dat
LAB 1/LAB1-PSpiceFiles/Trasnient/Trasnient/Trasnient.json
LAB 1/LAB1-PSpiceFiles/Trasnient/Trasnient/Trasnient.mrk
LAB 1/LAB1-PSpiceFiles/Trasnient/Trasnient/Trasnient.out
LAB 1/LAB1-PSpiceFiles/Trasnient/Trasnient/Trasnient.prb
LAB 1/LAB1-PSpiceFiles/Trasnient/Trasnient/Trasnient.out.1

LAB 2/LAB 2_0.DBK

LAB 2/lab 2_pspmetadata.db

LAB 2/LAB 2-PSpiceFiles/Trasnient/default.mrk

LAB 2/LAB 2-PSpiceFiles/Trasnient/Transient.sim

LAB 2/LAB 2-PSpiceFiles/Trasnient/Transient/chkpt_default/state_Hdr

LAB 2/LAB 2-PSpiceFiles/Trasnient/Transient/chkpt_default/state_map

LAB 2/LAB 2-PSpiceFiles/Trasnient/Transient/chkpt_default/state1

LAB 2/LAB 2-PSpiceFiles/Trasnient/Transient/chkpt_default/state2

LAB 2/LAB 2-PSpiceFiles/Trasnient/Transient/Install_TIPSpice.json

LAB 2/LAB 2-PSpiceFiles/Trasnient/Transient/Transient Ids Vds.dat

LAB 2/LAB 2-PSpiceFiles/Trasnient/Transient/Transient Vgs off.dat

LAB 2/LAB 2-PSpiceFiles/Trasnient/Transient/Transient Vgs.dat

LAB 2/LAB 2-PSpiceFiles/Trasnient/Transient/Transient.1OP

LAB 2/LAB 2-PSpiceFiles/Trasnient/Transient/Transient.cir

LAB 2/LAB 2-PSpiceFiles/Trasnient/Transient/Transient.dat

LAB 2/LAB 2-PSpiceFiles/Trasnient/Transient/Transient.json

LAB 2/LAB 2-PSpiceFiles/Trasnient/Transient/Transient.mif

LAB 2/LAB 2-PSpiceFiles/Trasnient/Transient/Transient.mrk

LAB 2/LAB 2-PSpiceFiles/Trasnient/Transient/Transient.out

LAB 2/LAB 2.png

Pspice Models/MUR200.ind

Pspice Models/MUR200.LIBerrorLog

Pspice Models/MUR2020_0.OBK

Pspice Models/MUR2020.symwiz.log
*.sim
*.1OP
*.cir
*.mif
*.mrk
*.net
*.prp
*.out
*.1
*.prb
*.download
*.DSNlck
*.png
*.DBK
*.OLBlck
*.als
*.dat
